 
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow  p-0">
    <a routerLink="/home" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-white">JobEntry</h1>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/home" class="nav-item nav-link active">Home</a>
            <a class="nav-link" routerLink="/about">About <span class="sr-only"></span></a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a routerLink="/job-list" class="dropdown-item">Job List</a>
                    <a routerLink="/post-job" class="dropdown-item">Post Jobs</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/profile" class="nav-link">Profile</a>
                
            </div>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a routerLink="/post-job" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block fa fa-arrow-right ms-3">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
        <a routerLink="/login" class="btn btn-danger rounded-0 py-4 px-lg-3 d-none d-lg-block" style="background-color: rgba(138, 36, 36, 0.92);">Logout</a>
    </div>

</nav> 
<router-outlet></router-outlet>



<div class="container-xxl bg-white p-0">
    <!-- navbar -->
    <!-- <nav class="navbar navbar-expand-lg bg-white navbar-light shadow  p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
            <h1 class="m-0 text-white">JobEntry</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="job-list.html" class="dropdown-item">Job List</a>
                        <a href="job-detail.html" class="dropdown-item">Job Detail</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="category.html" class="dropdown-item">Job Category</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <a href="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block fa fa-arrow-right ms-3">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
        </div>

    </nav> -->

    <!-- carsole -->
    <div class="container-fluid p-0">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../assets/images/carousel-1.jpg" alt="Carousel Image 1">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">One platform for all jobseekers and recruiters, try on schedule yor interview today .</p>
                                <a href="job-search-url" class="btn btn-secondary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-fixed">
                <img class="img-fluid" src="../assets/images/carousel-2.jpg" alt="Carousel Image 1">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5)">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fits You</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                                <a href="job-search-url" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                <a href="talent-search-url" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-mail-bulk  mb-4"></i>
                        <h6 class="mb-3">Marketing</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-headset  mb-4"></i>
                        <h6 class="mb-3">Customer Service</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-user-tie  mb-4"></i>
                        <h6 class="mb-3">Human Resource</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-tasks  mb-4"></i>
                        <h6 class="mb-3">Project Management</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-chart-line  mb-4"></i>
                        <h6 class="mb-3">Business Development</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-hands-helping  mb-4"></i>
                        <h6 class="mb-3">Sales & Communication</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-book-reader  mb-4"></i>
                        <h6 class="mb-3">Teaching & Education</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" routerLink="/job-list">
                        <i class="fa fa-3x fa-drafting-compass  mb-4"></i>
                        <h6 class="mb-3">Design & Creative</h6>
                        <p class="mb-0">Vacancy Availabel</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="row g-0 about-bg rounded overflow-hidden">
                        <div class="col-6 text-start">
                            <img class="img-fluid w-100" src="../assets/images/about-1.jpg">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid" src="../assets/images/about-2.jpg" style="width: 85%; margin-top: 15%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid" src="../assets/images/about-3.jpg" style="width: 85%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid w-100" src="../assets/images/about-4.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                    <p class="mb-4">Seeking qualified candidates for a wide-range of positions at all career levels. Access to a premiere network of academic institutions and corporations.</p>
                    <p><b class="fa fa-check  me-3"></b>1000+ trusted clients.</p>
                    <p><b class="fa fa-check  me-3"></b>User friendly web.</p>
                    <p><b class="fa fa-check  me-3"></b>One destination to get your dream job.</p>
                    <a class="btn btn-secondary py-3 px-5 mt-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial start -->
   

    <div class="container-xxl py-5 wow fadeInUp" [attr.data-wow-delay]="'0.1s'">
        <div class="container">
          <h1 class="text-center mb-5">Our Clients Say!!!</h1>
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item  rounded p-4" *ngFor="let testimonial of testimonials">
              <i class="fa fa-quote-left fa-2x  mb-3"></i>
              <p>{{ testimonial.quote }}</p>
              <div class="d-flex align-items-center">
                <img class="img-fluid1 flex-shrink-0 rounded" [src]="testimonial.imageSrc" style="width: 50px; height: 50px;">
                <div class="ps-3">
                  <h5 class="mb-1">{{ testimonial.clientName }}</h5>
                  <small>{{ testimonial.profession }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Company</h5>
                    <a class="btn btn-link text-white-50" routerLink="/about">About Us</a>
                    <a class="btn btn-link text-white-50" routerLink="/contact">Contact Us</a>
                    <a class="btn btn-link text-white-50" href="">Our Services</a>
                    <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                    <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link text-white-50" routerLink="/about">About Us</a>
                    <a class="btn btn-link text-white-50" routerLink="/contact">Contact Us</a>
                    <a class="btn btn-link text-white-50" href="">Our Services</a>
                    <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                    <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Contact</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Pune, Maharashtra, INDIA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+918329015892</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>jobentry@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#"> Site Name</a>, All Right Reserved. 
                        
                        
                        Designed By <a class="border-bottom" href="">Code By Mahesh Dhumal</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
</div>